Checks: |
  -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  llvm-*,
  -llvmlibc-restrict-system-libc-headers,
  -llvm-header-guard,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  readability-*,
  modernize-*,
  performance-*,
  readability-*,
