kater

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

*.a
*.o

*.ll
*.out

src/.deps
src/Lexer.hpp
src/Lexer.cpp
src/Parser.hpp
src/Parser.cpp
src/location.hh

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.guess
config.status
config.log
configure
depcomp
install-sh
missing
stamp-*
ylwrap
compile_commands.json
.cache